.jumbotron {
    background-image: url("../assets/vipul-jha-a4X1cdC1QAc-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;

}

#jumbotron-header {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

#jumbotron-text {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

