.jumbotron {
    background-image: url("../assets/florian-olivo-4hbJ-eymZ1o-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

}

#jumbotron-header {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

#jumbotron-text {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

body {
    background-color: #F6F6F8;
}


a {
    color: #C60021;
}

.project-content {
    padding-top: 5em;
}

.about-me-content {
    padding-top: 5em;
}

.social-media {
    padding-top: 2em;
}

.bi .bi-linkedin {
    margin-left: 1em;
}

.bi .bi-envelope {
    margin-left: 1em;
}



